body {
    margin: 20px 0;
}

/*button:focus {
    outline: none !important;
}*/

.team-name {
    font-size: 1.5em;
    height: auto;
    text-align: center;
}

.score {
    font-size: 5em;
    font-weight: bold;
    height: auto;
    text-align: center;
    margin-bottom: 16px;
}

#timer {
    font-size: 5em;
}

#timer-start, #timer-pause, #timer-reset {
    width: 100px;
}

#timer-pause {
    display: none;
}

#timer-10, #timer-30 {
    width: 80px;
}
